go 1.20

use (
	./00-essentials/00-hello-world
	./00-essentials/01-profit-calculator
	./00-essentials/02-bank
	./00-essentials/03-pointers
	./00-essentials/04-structs
	./00-essentials/05-custom-types
	./01-note
	./00-essentials/06-arrays
	./00-essentials/07-array-exercise
	./00-essentials/08-maps
	./00-essentials/09-slices-maps-make
	./00-essentials/10-functions
	./02-price-calculator
	./00-essentials/11-goroutines
)
