go 1.22.0

use (
	./concurrency/buffered-channels
	./concurrency/challenge
	./concurrency/complex-mutex
	./concurrency/dining-philosophers
	./concurrency/first-example
	./concurrency/mutex
	./concurrency/producer-consumer
	./concurrency/select-channels
	./concurrency/simple-channels
	./toolkit-module/api-test-toolkit
	./toolkit-module/app
	./toolkit-module/app-dir
	./toolkit-module/app-download
	./toolkit-module/app-json
	./toolkit-module/app-slug
	./toolkit-module/app-upload
	./toolkit-module/toolkit
)
